@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Link {
  color: "#000000";
}

.cursor-pointer {
  cursor: pointer;
}

.carousel-class {
  height: 31vw;
} 

.btn-call-action {
  position: absolute;
  background-color: #FF0000;
  color: white;
  border: 0px;
  border-radius: 50px;
  height: 80px;
  width: 328px;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%);
}

.btn-call-action:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.title {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  width: 40%; 
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
}

.title p {
  color: white;
  font-size:5vw;
  font-weight: bold;
  margin: 0;
}

