@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Link {
  color: "#000000";
}

NavLink {
  color: "#000000";
}

h1 {
  font-size: 2.8vw!important;
  font-weight: bold!important;
}

.color-title {
  color: #1E1C1C;
}

.cursor-pointer {
  cursor: pointer;
}

.carousel-class {
  height: 31vw;
} 

.btn-call-action {
  position: absolute;
  background-color: #FF0000;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border: 0px;
  border-radius: 50px;
  height: 80px;
  width: 328px;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%);
}

.btn-call-action:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.title {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  width: 40%; 
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
}

.title p {
  color: white;
  font-size:5vw;
  font-weight: bold;
  margin: 0;
}

.bg-lightGrey {
  background-color: #f1f1f1;
}

.bg-white {
  color: white;
}

.p-introduction {
  font-size: 1.5vw;
  font-style: italic;
}

.border-card {
  border: 0px!important;
  -webkit-box-shadow: -1px 10px 68px -35px rgba(0,0,0,0.41);
  -moz-box-shadow: -1px 10px 68px -35px rgba(0,0,0,0.41);
  box-shadow: -1px 10px 68px -35px rgba(0,0,0,0.41);
}

.border-card:hover{
  -webkit-box-shadow: -1px 10px 68px -13px rgba(0,0,0,0.41);
  -moz-box-shadow: -1px 10px 68px -13px rgba(0,0,0,0.41);
  box-shadow: -1px 10px 68px -13px rgba(0,0,0,0.41);
  transition: 1s;
}

.btn-buy-product {
  background-color: #FF0000;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 0px;
  border-radius: 50px;
  height: 56px;
  width: 232px;
}

.btn-buy-product:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.read-more {
  cursor: pointer;
  text-decoration: underline rgb(42, 100, 226) 1px;
  color:rgb(42, 100, 226);
}

.contact-info {
  font-size: 1.5vw;
}

.bg-footer{
  background-color: #FF0000;
  color: white;
  font-size: 1.0;
}
